{% extends "layout.html" %}

{% block heading %}Image: <b>{{ image }}</b>{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
      <tr>
        <td>{{ tag }}</td>
      </tr>
        {% endfor %}
    </tbody>
</table>

    <p>
        <code>
            docker &lt;run|pull|push&gt; {{ registry }}/{{ image }}:&lt;tag&gt;
        </code>
    </p>

    <p>
        <a nohref onClick="window.history.back()">Back</a>
    </p>
{% endblock %}
